<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Videoclub</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->

    <link rel="stylesheet" type="text/css" href="/css/videoclub.css" />

    <!-- JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/js/videoclub.js"></script>
    <script type="text/javascript" src="/js/peliculas.js"></script>
    <script type="text/javascript" src="/js/generos.js"></script>
    <script type="text/javascript" src="/js/equipos.js"></script>

    <script>

        var idPelicula = [[${pelicula.id}]];

        $( document ).ready(function() {
            console.log("ready!");

            $('#txtGenero').keyup(function(event){

                buscarGeneros();
            });
            $('#txtDireccion').keyup(function(event){

                buscarEquipo($('#txtDireccion').val(), $('#divDireccionCandidatos'));
            });
            $('#txtGuion').keyup(function(event){

                buscarEquipo($('#txtGuion').val(), $('#divGuionCandidatos'));
            });
            $('#txtBandaSonora').keyup(function(event){

                buscarEquipo($('#txtBandaSonora').val(), $('#divBandaSonoraCandidatos'));
            });
            $('#txtFotografia').keyup(function(event){

                buscarEquipo($('#txtFotografia').val(), $('#divFotografiaCandidatos'));
            });
            $('#txtProduccion').keyup(function(event){

                buscarEquipo($('#txtProduccion').val(), $('#divProduccionCandidatos'));
            });
            $('#txtReparto').keyup(function(event){

                buscarEquipo($('#txtReparto').val(), $('#divRepartoCandidatos'));
            });

        });

        function intercambiar(boton){

            var divFinal;
            var txtBusqueda;

            if(boton.parentNode.id == 'divGenerosCandidatos'){
                divFinal = $('#divGeneros');
                txtBusqueda = $('#txtGenero');
            } else if(boton.parentNode.id == 'divDireccionCandidatos'){
                divFinal = $('#divDireccion');
                txtBusqueda = $('#txtDireccion');
            } else if(boton.parentNode.id == 'divGuionCandidatos'){
                divFinal = $('#divGuion');
                txtBusqueda = $('#txtGuion');
            } else if(boton.parentNode.id == 'divBandaSonoraCandidatos'){
                divFinal = $('#divBandaSonora');
                txtBusqueda = $('#txtBandaSonora');
            } else if(boton.parentNode.id == 'divFotografiaCandidatos'){
                divFinal = $('#divFotografia');
                txtBusqueda = $('#txtFotografia');
            } else if(boton.parentNode.id == 'divProduccionCandidatos'){
                divFinal = $('#divProduccion');
                txtBusqueda = $('#txtProduccion');
            } else if(boton.parentNode.id == 'divRepartoCandidatos'){
                divFinal = $('#divReparto');
                txtBusqueda = $('#txtReparto');
            }

            if(divFinal != null){
                divFinal.append(boton);
                txtBusqueda.val("");
                txtBusqueda.focus();
            } else {
                boton.remove();
            }
        }

        function nuevo(boton){

            var divFinal;
            var txtBusqueda;

            if(boton.id == 'btnNuevoGenero'){
                divFinal = $('#divGeneros');
                txtBusqueda = $('#txtGenero');
            } else if(boton.id == 'btnNuevoDireccion'){
                divFinal = $('#divDireccion');
                txtBusqueda = $('#txtDireccion');
            } else if(boton.id == 'btnNuevoGuion'){
                divFinal = $('#divGuion');
                txtBusqueda = $('#txtGuion');
            } else if(boton.id == 'btnNuevoBandaSonora'){
                divFinal = $('#divBandaSonora');
                txtBusqueda = $('#txtBandaSonora');
            } else if(boton.id == 'btnNuevoFotografia'){
                divFinal = $('#divFotografia');
                txtBusqueda = $('#txtFotografia');
            } else if(boton.id == 'btnNuevoProduccion'){
                divFinal = $('#divProduccion');
                txtBusqueda = $('#txtProduccion');
            } else if(boton.id == 'btnNuevoReparto'){
                divFinal = $('#divReparto');
                txtBusqueda = $('#txtReparto');
            }

            var nuevo = $.trim(txtBusqueda.val());

            if(nuevo){
                divFinal.append(formarBoton(nuevo));
                txtBusqueda.val("");
            }
        }

    </script>

</head>
<body>

<div th:include="/fragment/cabecera"></div>

<div id="idContenedor" class="container">

    <hr>

    <form id="formEditarPelicula">

        <div class="form-row justify-content-center">
            <span id="lblMensaje" class="text-danger"></span>
        </div>

        <div class="form-row mb-3">
            <div class="col-md-6">
                <label for="txtTitulo">Título:</label>
                <input type="text" id="txtTitulo" class="form-control" autofocus="autofocus" th:value="${pelicula.titulo}" />
            </div>

            <div class="col-md-6">
                <label for="selPais">País</label>
                <select id="selPais" class="custom-select">
                    <option th:value="${pelicula.codigoPais}" selected>Cualquier país</option>
                    <option th:each="pais : ${T(org.example.videoclub.models.assist.EPais).values()}"
                            th:value="${pais.codigo}" th:text="${pais.nombre}"></option>
                </select>
            </div>
        </div>

        <div class="form-row mb-3">
            <div class="col-md-6">
                <label for="txtTituloCompacto">Título compacto: (En minúsculas y sin espacios)</label>
                <input type="text" id="txtTituloCompacto" class="form-control" th:value="${pelicula.tituloCompacto}" />
            </div>

            <div class="col-md-3">
                <label for="numAnio">Año:</label>
                <input id="numAnio" type="number" min="1895" max="2030" step="1" th:value="${pelicula.anio}" class="form-control" />
            </div>

            <div class="col-md-3">
                <label for="numDuracion">Duracion: (En minutos)</label>
                <input id="numDuracion" type="number" min="1" max="500" step="1" th:value="${pelicula.duracion}" class="form-control" />
            </div>
        </div>

        <div class="form-row mb-3">

            <div class="col-md-6">
                <div>
                    <label>Géneros añadidos:</label>
                    <div id="divGeneros">
                        <button type="button" onclick="intercambiar(this)" class="btn btn-outline-primary" th:each="genero: ${pelicula.lstGeneros}">[[${genero}]]</button>
                    </div>
                </div>
                <div>
                    <label for="txtGenero">Géneros por añadir:</label>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <input id="txtGenero" type="text" placeholder="Drama" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <input id="btnNuevoGenero" type="button" class="btn btn-primary" onclick="nuevo(this)" value="Añadir" />
                        </div>
                    </div>
                    <div class="row">
                        <div id="divGenerosCandidatos">

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div>
                    <label>Dirección:</label>
                    <div id="divDireccion">
                        <button type="button" onclick="intercambiar(this)" class="btn btn-outline-primary" th:each="direccion: ${pelicula.lstDireccion}">[[${direccion}]]</button>
                    </div>
                </div>
                <div>
                    <label for="txtDireccion">Dirección por añadir:</label>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <input id="txtDireccion" type="text" placeholder="Orson Welles" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <input id="btnNuevoDireccion" type="button" class="btn btn-primary" onclick="nuevo(this)" value="Añadir" />
                        </div>
                    </div>
                    <div class="row">
                        <div id="divDireccionCandidatos">

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div>
                    <label>Guion:</label>
                    <div id="divGuion">
                        <button type="button" onclick="intercambiar(this)" class="btn btn-outline-primary" th:each="guion: ${pelicula.lstGuion}">[[${guion}]]</button>
                    </div>
                </div>
                <div>
                    <label for="txtGuion">Guion por añadir:</label>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <input id="txtGuion" type="text" placeholder="Herman J. Mankiewicz" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <input id="btnNuevoGuion" type="button" class="btn btn-primary" onclick="nuevo(this)" value="Añadir" />
                        </div>
                    </div>
                    <div class="row">
                        <div id="divGuionCandidatos">

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div>
                    <label>Banda sonora:</label>
                    <div id="divBandaSonora">
                        <button type="button" onclick="intercambiar(this)" class="btn btn-outline-primary" th:each="bandaSonora: ${pelicula.lstBandaSonora}">[[${bandaSonora}]]</button>
                    </div>
                </div>
                <div>
                    <label for="txtBandaSonora">Banda sonora por añadir:</label>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <input id="txtBandaSonora" type="text" placeholder="Bernard Herrmann" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <input id="btnNuevoBandaSonora" type="button" class="btn btn-primary" onclick="nuevo(this)" value="Añadir" />
                        </div>
                    </div>
                    <div class="row">
                        <div id="divBandaSonoraCandidatos">

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div>
                    <label>Fotografía:</label>
                    <div id="divFotografia">
                        <button type="button" onclick="intercambiar(this)" class="btn btn-outline-primary" th:each="fotografia: ${pelicula.lstFotografia}">[[${fotografia}]]</button>
                    </div>
                </div>
                <div>
                    <label for="txtFotografia">Fotografía por añadir:</label>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <input id="txtFotografia" type="text" placeholder="Gregg Toland" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <input id="btnNuevoFotografia" type="button" class="btn btn-primary" onclick="nuevo(this)" value="Añadir" />
                        </div>
                    </div>
                    <div class="row">
                        <div id="divFotografiaCandidatos">

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div>
                    <label>Producción:</label>
                    <div id="divProduccion">
                        <button type="button" onclick="intercambiar(this)" class="btn btn-outline-primary" th:each="produccion: ${pelicula.lstProduccion}">[[${produccion}]]</button>
                    </div>
                </div>
                <div>
                    <label for="txtProduccion">Producción por añadir:</label>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <input id="txtProduccion" type="text" placeholder="RKO" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <input id="btnNuevoProduccion" type="button" class="btn btn-primary" onclick="nuevo(this)" value="Añadir" />
                        </div>
                    </div>
                    <div class="row">
                        <div id="divProduccionCandidatos">

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div>
                    <label>Reparto:</label>
                    <div id="divReparto">
                        <button type="button" onclick="intercambiar(this)" class="btn btn-outline-primary" th:each="reparto: ${pelicula.lstReparto}">[[${reparto}]]</button>
                    </div>
                </div>
                <div>
                    <label for="txtReparto">Reparto por añadir:</label>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <input id="txtReparto" type="text" placeholder="Orson Welles" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <input id="btnNuevoReparto" type="button" class="btn btn-primary" onclick="nuevo(this)" value="Añadir" />
                        </div>
                    </div>
                    <div class="row">
                        <div id="divRepartoCandidatos">

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <label for="txtSinopsis">Sinopsis:</label>
                <textarea id="txtSinopsis" class="form-control" rows="5" th:value="${pelicula.sinopsis}"/></textarea>
            </div>
        </div>

        <div class="form-row mb-3 justify-content-around">
            <input type="button" onclick="guardarPelicula()" class="btn btn-primary" value="Editar película" />
        </div>

    </form>

</div>
</body>
</html>