<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Videoclub</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/css/videoclub.css" />

    <!-- JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/js/videoclub.js"></script>
    <script type="text/javascript" src="/js/peliculas.js"></script>

    <script>

        $( document ).ready(function() {
            console.log("ready!");

            buscarPeliculasPendientes(0);
            buscarPeliculasVistas(0);

            $('#txtBusqueda').keyup(function(event){
                buscarPeliculasPendientes(0);
                buscarPeliculasVistas(0);
            });

        });

    </script>

</head>
<body>

<div th:include="/fragment/cabeceraCompleta"></div>

<div id="idContenedor" class="container">

    <hr>

    <div class="row">

        <div class="col-md-2 p-2" th:include="/fragment/menuLateral"></div>

        <div class="col-md-10 p-2">
            <div>
                <div class="row justify-content-center">
                    <h3>Peliculas pendientes</h3>
                </div>
                <div id="idPeliculasPendientes" class="row"></div>
                <div>
                    <nav>
                        <ul id="idPeliculasPendientesPaginacion" class="pagination justify-content-center"></ul>
                    </nav>
                </div>
            </div>
            <hr>
            <div>
                <div class="row justify-content-center">
                    <h3>Peliculas vistas</h3>
                </div>
                <div id="idPeliculasVistas" class="row"></div>
                <div>
                    <nav>
                        <ul id="idPeliculasVistasPaginacion" class="pagination justify-content-center"></ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>

</div>

</body>
</html>